/* Nav.css */

.nav {
  max-height: 150px;
}

.navbar-search {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navbar-search input {
  height: 36px;
  font-size: 0.9rem;
  border-radius: 20px;
  padding-left: 15px;
}

.navbar-collapse {
  flex-grow: 0 !important;
}
